.good-card{
    height: 85vh;
    //border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &_img{
        width: 30%;
        &-link{
            text-align: center;
        }
    }
    &_description{
        
       &_title{
           font-size: 24px;
       }
    }
}