{% include 'header.html' %}
<!-- <main class="main">
    <div class="good-card">
        <a href="{{ content_data.big_img}}" class="good-card_img-link" target="blank"><img src="{{ content_data.big_img}}" alt="" class="good-card_img"></a>
        <div class="good-card_description">
            <p>Производитель:<b class="good-card_description_title"> {{ content_data.maker}}</b></p>
            <p>Модель: <b>{{content_data.model}}</b></p>
            <p>Цена: <b>{{ content_data.price }} ₽</b></p>
            <button id='buyme' class='catalog-item_addToCart'>Купить</button>
            <p>Описание: {{content_data.info}}</p>
        </div>
    </div>
</main> -->


{% include 'footer.html' %}